# Set of SQL queries written for DVD rental database.

### 1) JOIN, aggregates, aliases, WHERE, GROUP BY

**Inquiry 1**: How many times were family-friendly movies rented over time? (by genres)

$\color{green}{\text{SELECT}}$ c.name $\color{green}{\text{AS}}$ category_name,<br> $\color{blue}{\text{COUNT}}$(f.title) $\color{green}{\text{AS}}$ movies<br>
$\color{green}{\text{FROM}}$ film f<br>
$\color{green}{\text{JOIN}}$ film_category<br>
$\color{green}{\text{ON}}$ f.film_id = film_category.film_id<br>
$\color{green}{\text{JOIN}}$ category c<br>
$\color{green}{\text{ON}}$ film_category.category_id = c.category_id<br>
$\color{green}{\text{JOIN}}$ inventory i<br>
$\color{green}{\text{ON}}$ f.film_id = i.film_id<br>
$\color{green}{\text{JOIN}}$ rental r<br>
$\color{green}{\text{ON}}$ i.inventory_id = r.inventory_id<br>
$\color{green}{\text{WHERE}}$ c.name $\color{green}{\text{IN}}$ ($\color{red}{\text{'Animation'}}$, $\color{red}{\text{'Children'}}$, $\color{red}{\text{'Classics'}}$, $\color{red}{\text{'Comedy'}}$, $\color{red}{\text{'Family'}}$, $\color{red}{\text{'Music'}}$)<br>
$\color{green}{\text{GROUP BY}}$ c.name<br>

### 2) CTE, running total, CONCAT('||')

**Inquiry 2**:List 10 most productive actors (by total film length)

$\color{green}{\text{WITH}}$ t1 $\color{green}{\text{AS}}$<br>
(<br>
$\color{green}{\text{SELECT}}$ actor.first_name || ' ' || actor.last_name $\color{green}{\text{AS}}$ actor_name, film.length $\color{green}{\text{AS}}$ film_length<br>
$\color{green}{\text{FROM}}$ film <br>
$\color{green}{\text{JOIN}}$ film_actor <br>
$\color{green}{\text{ON}}$ film_actor.film_id = film.film_id<br>
$\color{green}{\text{JOIN}}$ actor<br>
$\color{green}{\text{ON}}$ film_actor.actor_id = actor.actor_id<br>
)<br>
$\color{green}{\text{SELECT}}$ actor_name, $\color{blue}{\text{SUM}}$ (film_length) $\color{green}{\text{AS}}$ total_runtime<br>
$\color{green}{\text{FROM}}$ t1<br>
$\color{green}{\text{GROUP BY}}$ actor_name<br>
$\color{green}{\text{ORDER BY}}$ total_runtime $\color{green}{\text{DESC}}$<br>
$\color{green}{\text{LIMIT}}$ 10

### 3) CTE, running COUNT

**Inquiry 3**:What are the total amount of DVD of family-friendly movies? (by genres)

$\color{green}{\text{WITH}}$ t1 $\color{green}{\text{AS}}$<br>
(<br>
$\color{green}{\text{SELECT}}$ c.name category<br>
$\color{green}{\text{FROM}}$ category c<br>
$\color{green}{\text{JOIN}}$ film_category<br>
$\color{green}{\text{ON}}$ c.category_id = film_category.category_id<br>
$\color{green}{\text{JOIN}}$ film f<br>
$\color{green}{\text{ON}}$ film_category.film_id = f.film_id<br>
)<br>
$\color{green}{\text{SELECT}}$ category, $\color{blue}{\text{COUNT}}$(category) movies<br>
$\color{green}{\text{FROM}}$ t1<br>
$\color{green}{\text{WHERE}}$ category $\color{green}{\text{IN}}$ ($\color{red}{\text{'Animation'}}$, $\color{red}{\text{'Children'}}$, $\color{red}{\text{'Classics'}}$, $\color{red}{\text{'Comedy'}}$, $\color{red}{\text{'Family'}}$, $\color{red}{\text{'Music'}}$)<br>
$\color{green}{\text{'GROUP BY'}}$ category<br>

### 4) CTE, running Date_TRUNC, ROW_NUMBER

**Inquiry 4**: Provide a table with Rental orders made by Floyd Gandy over time on monthly basis

$\color{green}{\text{WITH}}$ t1 $\color{green}{\text{AS}}$<br>
(<br>
$\color{green}{\text{SELECT}}$<br> 
c.first_name || ' ' || c.last_name $\color{green}{\text{AS}}$ customer_name, <br>
r.rental_date $\color{green}{\text{AS}}$ rental_date<br>
$\color{green}{\text{FROM}}$ customer c<br>
$\color{green}{\text{JOIN}}$ rental r<br>
$\color{green}{\text{ON}}$ c.customer_id = r.customer_id<br>
$\color{green}{\text{ORDER BY}}$ORDER BY rental_date<br>
)<br>

$\color{green}{\text{SELECT}}$<br>
customer_name,<br> 
$\color{blue}{\text{DATE_TRUNC}}$('month', rental_date) $\color{green}{\text{AS}}$ month,<br>
$\color{blue}{\text{ROW_NUMBER}}$() $\color{blue}{\text{OVER}}$ ($\color{green}{\text{PARTITION BY}}$ customer_name $\color{green}{\text{ORDER BY}}$ $\color{blue}{\text{DATE_TRUNC}}$('month', rental_date)) $\color{green}{\text{AS}}$ row_num<br>
$\color{green}{\text{FROM}}$ t1<br>
$\color{green}{\text{WHERE}}$ customer_name = $\color{red}{\text{'Floyd Gandy'}}$